.Rproj.user
.Rhistory
.RData
.Ruserdata
# too big for git -> can be derived by scripts
processed/ret_processed.csv
raw_beh/ret_beh.csv
processed/ret_processed_stage_1.csv
processed/ret_processed_stage_2.csv
